/* =======================================
  Base
==========================================*/

/* variable
-------------------------------------------*/
$white : #fff;
$dark-white : #f8f8f8;
$accent-color : #7D3C98;
$default-font-color : #333;

/* =======================================
  Module
==========================================*/
.chrome__sashikomi__container {
}


/* =======================================
  Component
==========================================*/

/* MemoContainerComponent
-------------------------------------------*/
.chrome__sashikomi__container {
  display   : block !important;
  margin    : 15px 0;
  width     : 100%;
  min-width : 200px;
  max-width : 700px;
  font-size : 15px;
  color     : $default-font-color;
}


/* EditorComponent
-------------------------------------------*/

.chrome__sashikomi__editor {
  border      : 1px solid $accent-color;
  border-left : 5px solid $accent-color;
  width       : 100%;
  overflow    : hidden;
  background  : $accent-color;
  padding     : 0;
  margin      : 0;
}


//
//.chrome__sashikomi__editor__header {
//  background: $accent-color;
//}

.chrome__sashikomi__editor__body {
  textarea {
    display     : block !important;
    font-size   : 16px;
    line-height : 1.6;
    border      : none;
    width       : 100%;
    height      : 300px;
    box-sizing  : border-box;
    resize      : vertical;
    overflow    : auto;
    padding     : 15px;

    &:focus {
      outline : none;
    }
  }
}


/* MemoComponent
-------------------------------------------*/
.chrome__sashikomi__memo {
  position    : relative;
  background  : $dark-white;
  border-left : 5px solid $accent-color;

  &:hover {
    .chrome__sashikomi__memo__btn-group {
      display : block;
    }
  }
}


.chrome__sashikomi__memo__btn-group {
  z-index  : 1;
  display  : none;
  position : absolute;
  top      : 0;
  right    : 0;
  overflow : hidden;
  width    : 100%;

  button {
    cursor     : pointer;
    display    : block;
    float      : right;
    background : rgba(125, 60, 152, 0.41);
    border     : 0;
    padding    : 5px 15px;
    color      : $white;
    font-size  : 14px;

    &:hover {
      background-color : $accent-color;
    }

    &:active {
      position : relative;
      top      : 1px;
      right    : -1px;
    }

    &:focus {
      outline : none;
    }
  }

  button + button {
    border-right : 1px solid $dark-white;
  }
}


.chrome__sashikomi__memo__body {
  padding : 15px;
}


@import "markdown";
@import "tomorrow-night-eighties";