// TODO: pageのstyle

/* =====================================
# Base
======================================= */
/* variables */
$base-font-family: "helvetica neue", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, sans-serif;
$sashikomi-color: #7d3c98;
$default-font-color: #444;
$default-link-color: #20a8d4;
$default-link-hover-color: #1487ad;
$dark-white: #ddd;
$default-background-color: #f6f6f6;
$code-color: #f2f2f2;
$code-background-color: #273b42;


body {
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
}

.ch_sashikomi, .ch_sashikomi--page {
  @import 'base/reset';

  button, input[type="button"], .button {
    border: none;
    border-radius: 0;
    background: none;
  }

  div {
    box-sizing: border-box;
  }

  a {
    color: $default-link-color !important;
    text-decoration: none;
    &:hover {
      color: $default-link-hover-color !important;
    }
  }
}

.ch_sashikomi--ext {
  margin: 20px 0;
}


/* =====================================
# Layout
======================================= */

/* =====================================
# Module
======================================= */
.ch_sashikomi {
  /* highlight */
  @import 'vendor/tomorrow-night-eighties';

  /* button */
  .btn-group {
    display: flex;

    justify-content: flex-end;
    .button + .button {
      margin-left: 1px;
    }
  }

  .button {
    display: block;
    float: left;
    padding: 5px 10px;
    border: none;
    background: $sashikomi-color;
    color: #fff;
    font-size: 12px;
    opacity: .5;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }

  .button-lg {
    padding: 10px 15px;
    font-size: 18px;
  }
}


/* =====================================
# Component
======================================= */
.ch_sashikomi {
  @import 'markdown';
  .Sashikomi {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-left: 5px solid $sashikomi-color;
    color: $default-font-color;
    font-weight: 400;
    font-size: 16px;
    font-family: $base-font-family !important;
    line-height: 1.7;

    &:hover {
      .Sashikomi_header {
        display: block;
      }
    }
  }

  .Sashikomi_header {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    overflow: hidden;
    max-width: 200px;
  }

  .Viewer {
    padding: 12px;
    background: $default-background-color;
    font-size: inherit;
  }

  .Editor {
    border-top: 1px solid $dark-white;
    border-right: 1px solid $dark-white;
    border-bottom: 1px solid $dark-white;
  }


  .Editor_body {
    .textarea {
      padding: 15px;
      min-height: 200px;
      width: 100%;
      outline: none;
      border: none;
      box-shadow: none;
      font-size: inherit;
    }
  }
}

/* error page */
.ch_sashikomi {
  .page-header {
    display: flex;
    width: 100%;

    justify-content: center;
  }

  .page-header.heading {
    padding: 20px;
    background: $sashikomi-color;
    color: #fff;
    font-size: 24px;
  }

  .page-body {
    display: flex !important;

    justify-content: center;
  }

  .page-body_inner {
    width: 700px;
  }

  .page-nav {
    display: flex;
    margin: 20px 0;

    justify-content: flex-end;

    .button-lg {
      background: transparent !important;
      color: $sashikomi-color;
      opacity: 1;

      &:hover {
        opacity: .6;
      }
    }
  }
}

.ch_sashikomi--page {
  .Sashikomi {
    border-left: 5px solid #FDCA79 !important;
  }

  .button {
    background: #FDCA79 !important;
  }
}


