/* Extension Style
----------------------------------*/

/* MemoContainerComponent */
.chrome__sashikomi--ext {
  display   : block !important;
  margin    : 15px 0;
  width     : 100%;
  min-width : 200px;
  max-width : 1000px;
  color     : $default-font-color;

  /* EditorComponent */
  .p-editor {
    position    : relative;
    border      : 1px solid $accent-color;
    border-left : 4px solid $accent-color;
    overflow    : hidden;
    padding     : 0;
    margin      : 0;

    &:hover {
      .p-editor__btn-group {
        display : block !important;
      }

    }
  }

  .p-editor__btn-group {
    @extend %c-btn-group;
  }

  .p-editor__body {
    textarea {
      font-family : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
      display     : block !important;
      font-size   : 15px !important;
      font-weight : normal !important;
      line-height : 1.6 !important;
      border      : none !important;
      width       : 100% !important;
      height      : 300px !important;
      box-sizing  : border-box !important;
      resize      : vertical !important;
      overflow    : auto !important;
      padding     : 15px !important;
      box-shadow  : 2px 2px 4px rgba(143, 183, 222, 0.6), -2px -2px 4px rgba(143, 183, 222, 0.6), inset 0 1px 2px rgba(0, 0, 0, 0.2) !important;


      &:focus {
        outline : none !important;
      }
    }
  }

  /* MemoComponent */
  .p-memo {
    @extend %c-memo;
  }

  .p-memo__body {
    @extend %c-memo__body;
  }

  .p-memo__btn-group {
    @extend %c-btn-group;
  }

}
